
$c: #B8E6F5;

$c-url: darken($c,7%);
$c-text: white;
$c-text-whatevs: #FAF6E1;
$c-lines: gray;
$c-enter-bg: #161A26;

$c-nav: lighten($c-url,20%);

$c-art-title: white;
$c-art-desc: $c-text-whatevs;
$c-art-body: white;

//$c-bg: #1B345D;
//$c-bg: #00337C;
//$c-bg: #2C468B;
$c-bg: #324A8B;

/*
-- general classes
div.main-content: article listing, article content, or frontpage content

-- article
body#art_body
a.zh-ret : return link
a.article-src : source link

-- index page
body#subIdx
a.prev : link to previous page
a.next : link to previous page
div.article-ref { a.local, h2.title, p.desc, span.date, a.origin }

-- frontpage
body#mainIdx
a.recent.bling : Enter button
div.introd : About
div.all : Archive

*/

* {
	// set defaults
	box-sizing: border-box;
	font-family: Arial;
	padding: 0;
	margin: 0;
	text-align: left;
}

html {
	font-size: 1.1em;
	color: $c-text;
	text-shadow: 0.1em 0.1em 0.3em black;

	background-color: darken($c-bg, 7.5%);
	background: darken($c-bg, 7.5%);
	background: linear-gradient(180deg, $c-bg 0%, darken($c-bg,15%) 100%);
	background-size: 100%;
	background-attachment: fixed;
}

body {
	text-align: center; // for main-content
	>* {
		width: 60rem;
		max-width: 100%;
		display: inline-block;
	}
}
.main-content {
	padding: 0.5em 0.5em 0 0.5em;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0.3em 0.1em 0.1em 0;
}

p {
	display: block;
	margin: 0 0 0.5em 0;
}

nav {
	text-align: center;
	ul {
		display: inline-block;
		padding: 0;
		margin: auto;
		list-style-type: none;
		li { display: inline-block; }
	}
	a, a:visited {
		margin: 0.5em auto 0.5em auto;
		display: inline-block;
		color: $c-nav;
	}
	border-color: $c-lines;
	border-width: 1px;
	border-bottom-style: solid;
	padding: 0 0 0.3em 0.5em;
	margin: 0 auto 1em auto;
}

a, a:visited {
	color: $c-url;
	border: 1px dotted $c-url;
}

#mainIdx .recent, .introd *:lang(en) {
	font-family: 'Comic Sans MS', 'Comic Sans', 'Chalkboard SE', 'Comic Neue', sans-serif;
	line-height: 1.15em;
}

*:lang(zh) {
	// list grabbed from https://www.tudou.com/
	font-family: "PingFang SC", "Lantinghei SC", "Microsoft Yahei", "\5FAE\8F6F\96C5\9ED1", "helvetica", "arial", "verdana", "tahoma", "sans-serif";
}

// articles in index
.article-ref {
	//display: block;
	border-bottom: 2px dotted $c;
	padding-bottom: 0.5em;
	margin-bottom: 1em;

	.date {
	}

	a.local {
		text-decoration: none;
		border: none;
		.title {
			color: $c-art-title;
		}
		.desc {
			color: $c-art-desc;
			text-decoration: none;
			border: none;
		}
	}

	// Source: blahblah
	a.origin {
	}
}

// reformatted articles
#art_body .main-content {
	color: $c-art-body;
	.title, h1, h2, h3, h4, h5, h6 {
		color: $c-art-title;
	}
	strong, b, em {
		font-style: bold;
	}
	.info {
		.time {
		}
		.source {
		}
	}
	img, object {
		display: block;
		max-width: 100%;
		max-width: 100vw;
		width: 20em;
		height: auto;
		clear: both;
		border: 0.2em solid $c-text;
		border-radius: 0.2em;
		margin: 0.5em;
	}
	p, div {
		display: block;
		margin: 0 0 0.5em 0;
	}

	.otitle_editor, p.editor, p.show_author {
		margin-top: 0.75em;
		color: $c-text-whatevs;
		.otitle {
			// original title
		}
		.editor {
		}
	}

	// hack to hide some weird extra title
	div.article-content + h2, .editor + h2, .otitle + h2 {
		display: none;
	}
}

// toplevel master index
#mainIdx {
	div {
		margin-bottom: 0.5em;
	}
	p {
		color: $c-art-desc;
	}
	h1,h2,h3 {
		color: $c-text;
	}

	.introd {
		display: inline-block;
		margin: 0em 1em 0.5em 0;
		a {
			// github link
			display: inline-block;
			margin: 1em;
		}
		div:lang(en) {
			font-size: 90.91%;
		}
	}

	// large Enter button
	.recent {
		text-align: center;
		display: inline-block;
		position: relative;
		margin: 1rem 1em 0.25rem 1em;
		padding: .8rem .5rem .8rem .5rem;
		background-color: darken($c-bg, 20%);
		font-size: 160%;
		text-shadow: 0.1em 0.1em 0.3em black;
//		border: 0.1em solid $c-text;
		color: $c-text;
		border: none;
		border-radius: 0.5em;
		width: 20em;
		max-width: 80%;
		&:hover {
			text-shadow: 0 0 0.3em white;
			top: 0.05em;
		}
	}

	// Archive
	.all {
		display: inline-block;
		text-align: left;
		// Box with date and index page links
		.d {
			display: inline-block;
			padding: 0.5em;
			background: darken($c-bg,15%);
			border: 0.1em solid $c-bg;
			border-radius: 0.3em;
			margin: 0.1em;
			text-align: right;
			.date {
				text-align: left;
				margin: 0 0 0.3em 0;
			}
		}
	}
}

// Bling animation:
// transparent sheared square moving left to right
.bling {
	position: relative;
	overflow: hidden;
}
.bling:hover:after {
	content:'';
	width: 30%;
	height: 110%;
	position: absolute;
	left: -25em;
	top: -5%;
	opacity: 0.5;
	background: white;
	box-shadow: 0 0 1.5em 0.1em white;
	animation: btnBling 1.7s 0s linear infinite;
	transform: translateX(0em) skew(-30deg);
}
@keyframes btnBling {
	0% { transform: translateX(0em) skew(-30deg); }
	100% { transform: translateX(65em) skew(-30deg); }
}

