
* {
	box-sizing: border-box;
	font-family: Arial;
	padding: 0;
	margin: 0;
}

html {
	font-size: 1.1em;
	background-color: black;
	background-image: url(bgsym.jpg);
	background-size: 1in;
	background-repeat: repeat;
	color: white;
}

nav {
	text-align: center;
	ul {
		display: inline-block;
		padding: 0;
		margin: auto;
		list-style-type: none;
		li { display: inline-block; }
	}
	a, a:visited {
		margin: 0.5em auto 0.5em auto;
		display: inline-block;
		color: lightblue;
	}
	border-color: gray;
	border-width: 1px;
	border-bottom-style: solid;
	padding: 0 0 0.3em 0.5em;
	margin: 0 auto 1em auto;
}


a, a:visited {
	color: orange;
	border: 1px dotted lightblue;
}

*:lang(zh) {
	// list grabbed from https://www.tudou.com/
	font-family: "PingFang SC", "Lantinghei SC", "Microsoft Yahei", "\5FAE\8F6F\96C5\9ED1", "helvetica", "arial", "verdana", "tahoma", "sans-serif";
}

// articles in index
.article-ref {
	display: block;
	text-align: left;
	border-bottom: 2px dotted orange;
	padding-bottom: 0.5em;
	margin-bottom: 1em;
	a.local {
		text-decoration: none;
		border: none;
	}
	a.origin {
	}
	.title {
	}
	.desc {
		color: lighten(orange,50%);
		text-decoration: none;
		border: none;
	}
	.date {
	}
}

// reformatted articles
body>.main-content, article {
	margin: 0 0.5em 0 0.5em;
	color: lighten(orange,50%);
	.title {
		color: orange;
	}
	strong, b {
		font-style: bold;
	}
	.info {
		.time {
		}
		.source {
		}
	}
	img, object {
		display: block;
		max-width: 100%;
		max-width: 100vw;
		width: 20em;
		height: auto;
		clear: both;
	}
}

.otitle_editor, p.editor {
	margin-top: 0.75em;
	color: lightgray;
	.otitle {
		// original title
	}
	.editor {
	}
}

// hack to hide some weird extra title
div.article-content + h2, .editor + h2, .otitle + h2 {
	display: none;
}

.unsupp {
	color: pink;
	margin: 0.5em 0 0.5em 0;
	border: 1px dotted pink;
	padding: 0.1em;
}

// toplevel master index
#mainIdx {
	padding: 0.5em;
	text-align: center;
	>* {
		width: 60rem;
		max-width: 100%;
	}
	h1 {
		text-align: left;
	}
	.introd {
		text-align: left;
		display: inline-block;
		margin: 0.5em 1em 0.5em 0;
		a {
			display: inline-block;
			margin: 1em;
		}
	}
	.introd div:lang(en) {
		font-size: 90.91%;
	}
	.recent {
		display: inline-block;
		margin: 1rem 0 0.5rem 0;
		padding: .8rem .2rem .8rem .2rem;
		background-color: #4D0900;
		font-size: 150%;
		text-shadow: 0.1em 0.1em 0.3em black;
		border: none;
		border-radius: 0.75em;
		width: 20em;
	}
	.all {
		display: inline-block;
		.d {
			display: inline-block;
			float: left;
			padding: 0.5em;
			border: 1px dashed gray;
		}
	}
}

